.container {
    padding: 20px;
    height: 17vh;
    width: 75vw;
    background-color: black;
    border-radius: 10px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-family: "Mona Sans VF", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.box1 {
    position: relative;
}

.box1 #thumbnail {
    margin-left: 18px;
    width: 250px;
    height: 137px;
    border-radius: 10px;
}

#duration {
    position: absolute;
    bottom: 10px;
    right: 25px;
    background: rgba(0, 0, 0, 0.7);
    padding: 2px;
    width: 40px;
    text-align: center;
    border-radius: 6px;
    font-weight: 500;
}

.box2 {
    font-family: "Mona Sans VF", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

#title {
    margin-top: 5px;
    font-weight: 620;
    font-size: 17px;
    transform: scaleY(1.2);
}

span {
    color: grey;
    font-size: 15px;
    font-weight: 500;
}