.container {
    display: flex;
    justify-content: space-evenly;
}

.box {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}